<nav class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/workbook">Workbook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/incoming">Incoming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/lead">Lead</a>
            </li>
            <li>
              <hr>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/pending">Pending</a>
            </li>
        </ul>
    </div>
</nav>