<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form with Inputs</title>
<link rel="stylesheet" href="/css/addWorkbookData.css">
</head>
<body>
  <form method="POST" action="/addIncomingData">
    <h1>Form Add Incoming</h1>
      <input type="hidden" value="<%= dropdowns[0]._id %>" name="data_dd_id">
      <%- include('../include/addData') %>
  </form>
</body>
</html>
